#html, body {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width:980px;
  height: 100%;
  margin: auto;
}

body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #fff;
    background-color: #000;
        width:1024px;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:0px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    width: 1005px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(0,0,0,0.8);
    padding-right:10px;
    padding-left:10px;
    height:800px;
}

header {
    position: relative;
    color: #fff;
    padding: 0;
    padding-bottom: 80px;

}

header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    color: #fff;
}

#main {
    padding: 30px 30px 15px 30px;
    

    margin :auto;

}

#login {
    padding: 500px 30px 15px 30px;
    text-align: center;
}

#login label {
    color: #fff;
    font-weight: bold;
}

footer {
    
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
}

/* MISC  
----------------------------------------------------------*/

#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
}

#logindisplay a:link,
#logindisplay a:visited,
#logindisplay a:hover {
    color: #fff;
    text-decoration: underline;
}