@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thank you!</h1>

<h3>The customer was successfully added to the promotion</h3>

@Html.ActionLink("Continue", "LogOn", "Account")